.order-card {
  align-items: center;
  border: 1px solid black;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  color: black;
  display: flex;
  font-weight: 700;
  gap: 2rem;
  height: 120px;
  justify-content: space-evenly;
  text-decoration: none;
  width: 400px;
}

.card-infos {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.status-pending {
  align-items: center;
  background-color: orange;
  border-radius: 10px;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  height: 100px;
  justify-content: center;
  text-align: center;
  width: 150px;
}

.status-preparing {
  align-items: center;
  background-color: rgb(67, 179, 231);
  border-radius: 10px;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  height: 100px;
  justify-content: center;
  text-align: center;
  width: 150px;
}

.status-delivered {
  align-items: center;
  background-color: rgb(86, 238, 48);
  border-radius: 10px;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  height: 100px;
  justify-content: center;
  text-align: center;
  width: 150px;
}
