.register-page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.register-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-container h1 {
  margin: 0;
  margin-bottom: 1rem;
}

img {
  height: 200px;
  width: 200px;
}

.register-form {
  align-items: center;
  background-color: #eaf1ef;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
}

.register-form label {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-form input {
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 1px 8px 24px;
  height: 40px;
  width: 230px;
}

.register-btn {
  background-color: #036b52;
  border: none;
  border-radius: 6px;
  color: #f2fffc;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  width: 230px;
}

.register-btn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.back-login {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  margin-top: 0.5rem;
}

.back-login img {
  height: 30px;
  width: 30px;
}

